h1 {
    color: blue;
}

#overflow {
    height: 150px;
    background-color: aquamarine;
    width: 200px;
    /* overflow:auto; */
    /* overflow: scroll; */
    overflow: hidden;
}

#visibility {
    height: 150px;
    width: 200px;
    background-color: blueviolet;
    /* visibility:hidden;*/
    /*display: none;*/

    opacity: 0.2;
}